<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create Post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .settings-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

</head>

<body>
  <nav class="teal">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo" style="margin-left:10px">PraizyBlog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/posts">Home</a></li>
          <li><a href="badges.html">Adverts Here</a></li>
          <li><a href="collapsible.html">Trending Posts</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container settings-center"> 
        <h5>Update Post</h5>
        <div class="row">
            <% var message; %>
              <% if(message) { %> 
                <p class="teal-text">Post successfully created</p>  
              <% } %>
            <% if(post) { %>
            <form class="col s12" method="post" action="/posts/update">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Subject.." id="subject" type="text" name="_id" value="<%= post.id %>">
                        <label for="first_name">Id</label>
                    </div>
                </div>
              <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Subject.." id="subject" type="text" name="subject" value="<%= post.subject %>">
                    <label for="first_name">Subject</label>
                </div>
                
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <!-- <textarea placeholder="Body.." id="body" type="text" name="body" value="<%= post.body %>" class="materialize-textarea"></textarea> -->
                    <input placeholder="Body.." id="body" type="text" name="body" value="<%= post.body %>" class="materialize-textarea">
                    <label for="first_name">Body</label>
                </div>
                
              </div>
              <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
              </button>
            </form>
            <% } %>
        </div>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>